@charset "utf-8";

/*Cabeçalho do App
estilos geral para todo o site*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1;
    background-color: #FEAD00;
}

img#logo {
    display: block;
    margin: 0 auto;
}

div {
    padding-top: 20px;
}

#margin {
    margin-top: 80px;
}

/*cor dos menus*/
a#cor {
    color: white;
    font-size: 12pt;
    font-weight: bold;
}


/*Fim Cabeçalho do App */
#tudo {
    text-align: center;
}

/* cor dos titulos das historias*/
h5 {
    color: #FEAD00;
}

/*Rodapé footer*/
#rodape {
    margin-top: 50px;
}
/*rodapé fixo embaixo*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/*retira a barra de rolagem*/
body::-webkit-scrollbar {
    display: none;
}

body a {
    text-decoration: none;
}